@import "bootstrap-sprockets";
@import "bootstrap";



input{
  margin-bottom: 20px;
}

select {
  margin: 20px auto;
}

.btn{
  text-align:right;
}

.box-part{
  margin-bottom:15px;
  border:1px solid black;
  border-radius: 8px;
}

.edit-part{
  display:flex;
  h2{
    margin-right:20px;
  }
  .btn{
    display:inline-block;
    margin-right:10px;
  }
}